$calibratorSize = 50px

#calibrator
  width: $calibratorSize
  height: $calibratorSize
  background: rgba(255, 0, 0, 0.5)
  border: 2px solid rgba(100, 0, 0, 0.8)
  border-radius: $calibratorSize
  position: absolute
  z-index: 999
