html
  background: #fafafa

img, video
  max-width: 100%

.application--wrap > nav.toolbar--dense
  position: absolute !important

  + .layout.row
    position: relative
    top: 95px
    z-index: 10
