html
  background: #fafafa

img, video
  max-width: 100%

.application--wrap > nav.toolbar--dense
  position: absolute !important

  + .layout.row
    position: absolute
    width: 100%
    top: 96px
    z-index: 10
