.dasher-cursor-vert, .dasher-cursor-horiz
  position: fixed
  height: 1px
  top: 50%
  width: 25%
  left: 50%
  margin-left: -12.5%
  border-bottom: 2px solid #000
  transition: top $animSpeed ease, left $animSpeed ease

.dasher-cursor-horiz
  width: 1px
  height: 100%
  left: 0
  top: 0
  border: none
  border-right: 2px solid #000
  margin-left: 0

.dasher-symbol-wrapper, .dasher-symbol-overlay
  position: absolute
  right: 0
  top: 0
  height: 100%
  background: rgba(255, 0, 0, 0.35)
  font-size: 100px
  text-align: right
  display: flex
  flex-direction: column

  > div
    flex: 1 1 auto
    border-top: 1px solid #000
    border-bottom: 1px solid #000

.dasher-symbol-overlay
  background: none
  width: 100% !important

  > div
    padding-right: 10%
