#pointer
  opacity: 0.8
  position: fixed
  z-index: 99999999
  width: 15px
  height: 15px
  transform-origin: center
  border-radius: 15px
  background: rgba(255, 0, 0, 0.85)
  border: 2px solid rgba(255, 0, 0, 0.85)

.pulse
  animation: 0.25s pulse 1

@keyframes pulse
  0%
    box-shadow: 0 0 0 0 rgba(255, 0, 0, 0)
  10%
    box-shadow: 0 0 0 10px rgba(255, 50, 0, 0.25)
  50%
    box-shadow: 0 0 0 40px rgba(255, 155, 0, 0.65)
  90%
    box-shadow: 0 0 0 60px rgba(255, 255, 0, 0.25)
  100%
    box-shadow: 0 0 0 80px rgba(255, 255, 0, 0)
