body
  .tooltip__content
    z-index: 11 !important

  .toolbar__title
    img
      vertical-align: middle
    small
      font-size: 0.5em

  .card--flex-toolbar
    position: absolute
    top: -48px
    width: 100%

  .toolbar--fixed.toolbar--extended
    z-index: 0

  .offset.tooltip
    .tooltip__content
      font-family: 'Roboto'
      top: -20px !important
